<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <%= link_to "Taskmanager", root_path, class: "navbar-brand" %>
    <div class="navbar-nav">
      <%#= link_to "Tâches", tasks_path, class: "nav-link" %>
    </div>
  </div>
</nav>
